<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Internet</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Internet</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedFontent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{{ url_for('home') }}"
                >¿Qué es?</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('ventajas') }}">Ventajas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('desventajas') }}"
                >Desventajas</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('empresas') }}"
                >Empresas Vinculadas</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Formularios
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{{ url_for('formularioC') }}"
                    >Formulario de Contacto</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{{ url_for('formularioR') }}"
                    >Formulario de Registro</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{{ url_for('formularioE') }}"
                    >Formulario de Encuesta</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-3ER0Z7FkmHzLl93lE2pZbSO6J1wG3C5HjT5sW2OTWETZB2J9VbRi95Qd9Lg5o1n2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
