{% extends "layout.html" %}

{% block content %}

<div style="text-align: center">
  <h2>Ventajas del Internet</h2>
  <p>
    El internet ha revolucionado la forma en que vivimos, trabajamos y nos
    comunicamos. A continuación, se presentan algunas de las ventajas más
    destacadas del internet:
  </p>
  <div style="display: flex; justify-content: center; align-items: center">
    <div style="width: 30%; margin: 20px">
      <h3>Acceso a la información</h3>
      <ul>
        <li>
          Acceso instantáneo a una gran cantidad de información y conocimientos
          en línea.
        </li>

        <li>
          Posibilidad de aprender nuevas habilidades y conocimientos a través de
          cursos en línea y recursos educativos.
        </li>
      </ul>
      <img
        src="OIP.jfif"
        alt="Imagen de acceso a la información"
        style="width: 100%; height: 150px; border-radius: 10px"
      />
    </div>
    <div style="width: 30%; margin: 20px">
      <h3>Comunicación</h3>
      <ul>
        <li>
          Comunicación instantánea con personas de todo el mundo a través de
          correos electrónicos, mensajería instantánea y redes sociales.
        </li>
        <li>
          Posibilidad de realizar videollamadas y conferencias en línea para
          mantenerse en contacto con amigos y familiares que se encuentran
          lejos.
        </li>
      </ul>
      <img
        src="internet-services.jpg"
        alt="Imagen de comunicación"
        style="width: 100%; height: 150px; border-radius: 10px"
      />
    </div>
    <div style="width: 30%; margin: 20px">
      <h3>Entretenimiento</h3>
      <ul>
        <li>
          Acceso a una gran variedad de contenido de entretenimiento en línea,
          como películas, series de televisión, música y juegos.
        </li>
        <li>
          Posibilidad de disfrutar de contenido en vivo y en directo a través de
          plataformas de streaming.
        </li>
      </ul>
      <img
        src="R.jfif"
        alt="Imagen de entretenimiento"
        style="width: 100%; height: 150px; border-radius: 10px"
      />
    </div>
  </div>
  <p>
    En resumen, el internet ha abierto un mundo de posibilidades y oportunidades
    para mejorar nuestra vida diaria.
  </p>
</div>
{% endblock %}